@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #fafafa;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background: #fdfdfd;
  padding: 0 1rem;
  display: flex;
  z-index: 2;
}

.navigation__logo {
  font-size: 0.8rem;
  color: #4a4a4a;
}

.navigation__items {
  margin-left: 1.5rem;
  flex-grow: 1;
}

.navigation__items ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navigation__items li {
  margin: 0 1rem;
}

.navigation__items a {
  text-decoration: none;
  font-weight: 700;
  color: #a5aab5;
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 10px 22px !important;
  border-radius: 7px;
}

.navigation__items a:hover,
.navigation__items a:active,
.navigation__items a.active {
  background-color: #5743be;
  color: #fafafa;
}

.main-content {
  margin: 4rem 2.5rem;
}

.auth-page-login,
.auth-page-register {
  width: 35rem;
  max-width: 80%;
  margin: 7rem auto;
}

.auth-page-register {
  margin: 6rem auto;
}

.auth-page-login .page-title,
.auth-page-register .page-title {
  text-align: center;
}

.form-control label,
.form-control input {
  width: 100%;
  display: block;
  padding: 12px 15px;
  border-radius: 7px;
  border: none;
}

.form-control input {
  font-size: 1rem;
  outline: none;
  border: 1.5px solid #f6f7f8;
}

.form-control input.error {
  border: 1.5px solid rgba(254, 108, 41, 0.4);
}

.form-control input.success {
  border: 1.5px solid rgba(66, 122, 10, 0.4);
}

.form-control label {
  margin-bottom: 0.5rem;
  padding-left: 0px;
}

.form-control {
  margin-bottom: 1rem;
}

.form-action button {
  background-color: #5743be;
  color: #fafafa;
  display: block;
  margin: 0 auto 1rem;
  cursor: pointer;
  padding: 14px 30px;
  font-weight: 700;
  border-radius: 7px;
  font-size: 0.9rem;
  outline: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}

.form-action button svg {
  position: relative;
  top: 50%;
  left: 3%;
  vertical-align: middle;
  transform: translate(-50%, -3%);
}

.form-action button:hover,
.form-action button:active {
  background-color: hsla(250, 49%, 50%, 0.9);
}

.form-action button[type='button'] {
  text-decoration: underline;
  background: transparent;
  border: none;
  color: #5843be;
  box-shadow: none;
}

.creator-message {
  font-size: 1.5rem;
  font-weight: bold;
  color: #df4276;
}

.not-found-page {
  background-color: #fafafa;
  background-image: url('/images/not_found_bg1.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.not-found-page h1 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.not-found-page a {
  padding: 13px 30px !important;
  border-radius: 7px;
  background-color: #fafafa;
  color: #5743be;
  font-size: 1.2rem;
  text-decoration: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}

.not-found-page a:hover,
.not-found-page a:active {
  background-color: #5743be;
  color: #fafafa;
}

.events-page .events-actions {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 7px;
  align-items: center;
  padding: 1rem;
}

.events-actions button {
  margin-bottom: 0;
}

.events-page .event-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 7px;
  margin: 2rem auto;
}

.events-list,
.event-description {
  height: 100%;
  width: 400px;
  margin: 0 auto;
}

.event-description-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-description-modal .description__header h2 {
  text-align: center;
}

.events-list ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.event-list__items {
  margin: 1rem 0;
  padding: 1rem;
  height: 100px;
  width: 100%;
  position: relative;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}

.event-list__items:before {
  content: '';
  position: absolute;
  right: -38px;
  bottom: 0;
  width: 0;
  height: 0;
  transition: 0.3s;
  border-left: 50px solid #ffffff;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

.event-list__items:hover {
  background-color: #f6f7f8;
}

.event-list__items:hover.not-clickable {
  background-color: #fef2f6;
}

.event-list__items:hover:before {
  border-left: 50px solid #f6f7f8;
}

.event-list__items:hover.not-clickable:before {
  border-left: 50px solid #fef2f6;
}

.event-list__items:hover.not-clickable
  .event__item__title-price
  span:nth-child(2) {
  text-decoration: line-through;
}

.event-list__items:hover .event__item__date span:nth-child(1),
.event-list__items:hover .event__item__date span:nth-child(2) {
  color: #5843be;
}

.event__item__date,
.event__item__title-price {
  display: flex;
  flex-direction: column;
}

.event__item__title-price {
  width: 200px;
}

.event__item__date span:nth-child(1) {
  color: #a5aab5;
  padding: 4px 40px;
  font-size: 1.2rem;
}

.event__item__date span:nth-child(2) {
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  padding: 4px 40px;
}

.event__item__title-price span:nth-child(1) {
  color: inherit;
  font-size: 1.2rem;
  padding: 7px 20px;
}

.event__item__title-price span:nth-child(2) {
  color: #a5aab5;
  font-size: 1rem;
  padding: 7px 20px;
}

.event-list__items hr {
  border: 0.5px solid #a5aab5;
  border-radius: 5px;
}

.creator__description {
  display: flex;
}

.creator__description img {
  border-radius: 50%;
  margin-right: 1.2rem;
}

.modal {
  width: 50rem;
  max-width: 80%;
  background: #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  z-index: 100;
}

.modal__header {
  padding: 1rem 3rem;
  background-color: #ecf6ff;
  border-radius: inherit;
}

.modal__header h2 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.modal__content {
  padding: 1rem 3rem;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 3rem;
}
.modal__actions button {
  margin-bottom: 0;
  margin-left: 1.5rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99;
}

.notification-container {
  font-size: 14px;
  position: fixed;
  z-index: 200;
}

.top-right {
  top: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.bottom-right {
  bottom: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.top-left {
  top: 12px;
  left: 12px;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

.bottom-left {
  bottom: 12px;
  left: 12px;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

.notification {
  background: #fff;
  transition: 0.3s ease;
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 30px;
  margin-bottom: 15px;
  width: 300px;
  max-height: 100px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 10px #999;
  color: #000;
  opacity: 0.9;
  background-position: 15px;
  background-repeat: no-repeat;
}

.notification:hover {
  box-shadow: 0 0 12px #fff;
  opacity: 1;
  cursor: pointer;
}

.notification-title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 6px;
  width: 300px;
  height: 18px;
}

.notification-message {
  margin: 0;
  text-align: left;
  height: 18px;
  margin-left: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-image {
  float: left;
  margin-right: 15px;
}

.notification-image img {
  width: 30px;
  height: 30px;
}

.toast {
  height: 70px;
  width: 365px;
  color: #fff;
  padding: 20px 15px 10px 10px;
}

.notification-container button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-weight: 700;
  color: #fff;
  outline: none;
  border: none;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
  line-height: 1;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.footer {
  padding: 0 2rem;
  background: #fdfdfd;
  display: flex;
  justify-content: space-between;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 880px) {
  .main-content {
    margin: 4rem 0;
  }

  .event-list__items hr {
    margin: 0 2rem;
  }
  .event-list__items:before {
    display: none;
  }
}

@media screen and (max-width: 655px) {
  .navigation__logo {
    line-height: 3.5rem;
  }
  .navigation__items ul {
    justify-content: center;
    padding-left: 0;
  }
  .navigation__logo h1 {
    margin: 0;
    font-size: 0.5rem;
  }
  .event__item__date span {
    padding: 4px 2px !important;
  }
}
